            <div class="col-xs-10 col-xs-10 col-xs-offset-1">
                <div class="row">
                    <h3>会員情報編集</h3>
                    <%= form_with model: @customer, url:public_update_path, method: :patch do |f| %>
                    <table class="table table-hover table-inverse">
                        <tbody>
                            <tr>
                                <th><%= f.label :"氏名", class: "col-sm-3 control-label", style: "margin: 10px;" %></th>
                                <td><%= f.text_field :last_name, class: "last_name form-control-static name" %>
                                 <%= f.text_field :first_name, class: "last_name form-control-static name" %></td>
                            </tr>
                            <tr>
                                <th><%= f.label :"フリガナ", class: "col-sm-3 control-label", style: "margin: 10px;" %></th>
                                <td><%= f.text_field :last_name_kana, class: "last_name form-control-static name" %>
                                 <%= f.text_field :first_name_kana, class: "last_name form-control-static name" %></td>
                            </tr>
                            <tr>
                                <th><%= f.label :"電話番号(ハイフンなし)", class: "col-sm-3 control-label", style: "margin: 10px;" %></th>
                                <td><%= f.text_field :telephone_number %></td>
                            </tr>
                            <tr>
                                <th><%= f.label :"メールアドレス", class: "col-sm-3 control-label", style: "margin: 10px;" %></th>
                                <td><%= f.text_field :email %></td>
                            </tr>
                            <tr>
                                <th><%= f.label :"生年月日", class: "col-sm-3 control-label", style: "margin: 10px;" %></th>
                                <td><%= f.date_select :birthday, {start_year: 1950, end_year: 2016,
                                include_blank: true, use_two_digit_numbers: true},
                                {class: "input-tab birthday-select"} %></td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="actions col-xs-10 col-xs-offset-2">
                        <p>
                            <%= f.submit '編集内容を保存', class: "btn btn-primary col-sm-3", style: "margin: 10px;" %>
                            <%= link_to '退会', public_quit_path, class: "btn btn-danger col-sm-3", style: "margin: 10px;" %>
                        </p>
                    </div>
                    <%end%>
                </div>
            </div>

