            <div class="col-xs-10 col-xs-offset-1">
                <div class="row">
                    <div class="col-xs-7">
                    <h2>予約内容詳細</h2>
                    <table class="table table-striped table-light">
                        <tbody>
                            <tr>
                                <th>予約者氏名</th>
                                <td>
                                    <%= @reservation.customer.last_name %> <%= @reservation.customer.first_name %>
                                </td>
                            </tr>
                            <tr>
                                <th>予約日時</th>
                                <td><%= @reservation.date_and_time.strftime("%Y-%m-%d %H:%M:%S") %></td>
                            </tr>
                            <tr>
                                <th>訪問人数</th>
                                <td><%= @reservation.number_of_people %>名</td>
                            </tr>
                            <tr>
                                <th>支払方法</th>
                                <td><%= @reservation.payment_methods %></td>
                            </tr>
                            <tr>
                                <th>予約ステータス</th>
                                <td><%= form_with model: @reservation, url: admin_reservation_path(@reservation) do |f| %>
                                <%= f.select :reservation_status, ReservationStatus.reserve_statuses.keys.to_a %>
                                <%= f.submit "更新する", class: "btn btn-outline-success" %>
                                <% end %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    </div>
                </div>
            </div>