            <div class="row">
                <div class="col-xs-10 col-xs-10 col-xs-offset-1">
                    <h2>Meow Manor Cafeの猫たち(管理者)</h2>
                    <table class="table table-hover table-inverse">
                        <thead>
                            <tr>
                                <th>CAT ID</th>
                                <th>NAME</th>
                                <th>TYPE</th>
                                <th>AGE</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% @cats.each do |cat| %>
                            <tr>
                                <td><%= cat.id %></td>
                                <td><%= link_to cat.name, admin_cat_path(cat) %></td>
                                <td><%= cat.cat_type %></td>
                                <td><%= cat.age %>才</td>
                                <td><%= link_to "編集する" ,edit_admin_cat_path(cat), class: "btn btn_-lg btn-outline-success" %></td>
                            </tr>
                            <%end%>
                        </tbody>
                    </table>
                    <div class="text_right">
                        <%= link_to "新規登録", new_admin_cat_path, class:"btn btn_-lg btn-outline-dark" %>
                    </div>
                    <%= paginate @cats %>
                </div>
            </div>
