<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <main>
      <body>
        <div class="container">
          <div class="new-cats">
              <div class="col-md-10 col-md-offset-1 col-xs-10 col-xs-offset-1 mx-sm-auto">
                  <div class="row">
                    <div class="col-lg-4 col-xs-4">
                      <%= form_with model: @cats, url: admin_cats_path, method: :post do |f| %>
                          <div class="col-md-5 col-xs-5">
                              <h4 class="cats-new-title" style="white-space: nowrap;">新しい猫を登録する</h4>
                              <div class="cat_new_form">
                                 <%= f.file_field :image, accept: "image/*" %>
                              </div>
                          </div>
                    </div>
                     <div class="col-md-5 col-md-offset-2 col-xs-5 col-xs-offset-2">
                        <table class="new-form-table">
                            <tbody>
                                <tr>
                                    <th style="white-space: nowrap;"><span>名前</span></th>
                                      <td><%= f.text_field :name, class: "form-control" %></td>
                                    </tr>
                                    <tr>
                                      <th style="white-space: nowrap;"><span>特徴</span></th>
                                      <td><%= f.text_area :introduction, class: "form-control" %></td>
                                    </tr>
                                    <tr>
                                      <th style="white-space: nowrap;"><span>年齢</span></th>
                                      <td style="white-space: nowrap;"><%= f.text_field :age, class: "form-control" %>才</td>
                                    </tr>
                                    <tr>
                                      <th style="white-space: nowrap;"><span>性別</span></th>
                                      <td><%= f.radio_button :genders, Cat.genders.key(0) %>
                                      <%= f.label :gender_male, "男の子" %></td>
                                      <td style="white-space: nowrap;"><%= f.radio_button :genders, Cat.genders.key(1) %>
                                      <%= f.label :gender_female, "女の子" %></td>
                                    </tr>
                                    <tr>
                                      <th style="white-space: nowrap;"><span>種類</span></th>
                                      <td><%= f.text_field :cat_type, class: "form-control" %></td>
                                    </tr>
                            </tbody>
                        </table>
                        <div class="text-right">
                          <%= f.submit '新規登録', class: "btn btn-outline-dark" %>
                        </div>
                      </div>
                      <%end%>
                  </div>
              </div>
          </div>
        </div>
      </body>
  </main>
</html>
</html>