<!--予約情報入力画面-->
<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <main>
        <head>
        </head>
        <body>
            <div class="list-head">
                <h2><span class="label label-default">ご予約情報の入力</span></h2>
            </div>
            <div class="list-body">
                <%= form_with model: @reservation, url: public_reservations_path, method: :post do |f| %>
                    <p>予約日時を選択してください</p>
                    <%= f.label :number_of_people, class: "mt-2 font-weight-bold" do %>
                      <i class="fa fa-caret-right mr-1 pp-text"></i>訪問人数を選択してください
                    <% end %>
                    <%= f.select :number_of_people, (1..5).map {|num| num.to_s + "名"}, {}, {class: 'form-control'} %>
                    <%= f.label :date_and_time, class: "mt-2 font-weight-bold" do %>
                      <i class="fa fa-caret-right mr-1 pp-text"></i>ご利用日時
                    <% end %>
                    <%= f.text_field :date_and_time, id: "datetimepicker", class: 'form-control' %>
                    <br>
                  　<%= f.submit "ご予約情報の確認へ", class: 'btn btn-warning col-xs-6 col-xs-offset-1'%>
                <%end%>
            </div>
        </body>
    </main>
</html>
</html>