<!--予約情報入力画面-->
<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <main>
        <body>
            <div class="container">
                <div class="row">
                    <div class="list-head">
                        <h4>ご予約情報の入力</h4>
                    </div>
                        <div class="list-body">
                            <%= form_with model: @reservation, url: public_reservations_path, method: :post do |f| %>
                                <p>ご予約内容を入力してください</p>
                                <%= f.label :number_of_people, class: "mt-2 font-weight-bold" do %>
                                  <i class="fa fa-caret-right mr-1 pp-text"></i>訪問人数を選択してください (最大5名様)
                                <% end %>
                                <%= f.select :number_of_people, (1..5).map {|num| num.to_s + "名"}, {}, {class: 'form-control'} %>
                                <%= f.label :date_and_time, class: "mt-2 font-weight-bold" do %>
                                  <i class="fa fa-caret-right mr-1 pp-text"></i>ご利用日時
                                <% end %>
                                <div class="reserve date">
                                    <%= f.date_select :date_and_time, {start_year: 2023, end_year: 2024,
                                    use_month_numbers: true},
                                    {class: "input-tab birthday-select"} %>
                                </div>
                                <br>
                              　<%= f.submit "ご予約情報の確認へ", class: 'btn btn_-lg btn-outline-dark'%>
                            <%end%>
                        </div>
                    </div>
                </div>
            </div>
        </body>
    </main>
</html>
