<!DOCTYPE html>
<html lang="ja">
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
    <main>
        <body>
            <div class="container">
            <div class="row">
                        <%= form_with model: @menu_item, url: admin_menu_item_path do |f| %>
                            <h2>メニュー登録情報編集</h2>
                                <table class="table table-hover table-inverse">
                                    <tbody>
                                        <tr>
                                            <th>メニュー名</th>
                                            <td><%= f.text_field :name, class: "form-control" %></td>
                                        </tr>
                                        <tr>
                                          <th>料金(税抜)</th>
                                          <td>¥<%= f.text_field :price_without_tax %></td>
                                        </tr>
                                    </tbody>
                                </table>
                          <%= f.submit "編集する", class: "btn btn_-lg btn-outline-success" %>
                          <%= link_to "削除する", admin_menu_item_path, method: :delete, class: "btn btn_-lg btn-outline-danger" %>
                        <%end%>
                    </div>
            </div>
            </div>
        </body>
    </main>
</html>
</html>