<div class="container">
  <div class="row no-gutters">
    <div class="col-md-5 col-sm-10 mx-2 mx-sm-auto text-center shadow-lg rounded px-0 my-5">
      <h5 class="text-dark bg-light py-4 mb-0">Member Log in</h5>
      <div class="form-body p-4">
        <div class="mx-auto text-center">
            <p>ご登録のメールアドレスと<br>パスワードを入力してください</p>
        </div>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
          <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fa-solid fa-envelope"></i></span>
            </div>
            <div class="field">
              <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
            </div>
          </div>
          <div class="input-group mb-3 justify-content-center">
            <div class="input-group-prepend">
              <span class="input-group-text" aria-hidden="true"><i class="fas fa-lock"></i></span>
            </div>
            <div class="field">
              <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password" %>
            </div>
          </div>
          <% if devise_mapping.rememberable? %>
            <div class="field">
              <%= f.check_box :remember_me %>
              <%= f.label :remember_me %>
            </div>
          <% end %>
          <div class="actions">
            <%= f.submit "Log in", class:"btn btn-lg btn-block btn-info mt-5" %>
          </div>
        <% end %>
        <%= render "public/shared/links" %>
      </div>
    </div>
  </div>
</div>
